#Elementos{
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -200px;
}

.container{
    position: absolute;
    left: 5%;
    margin-right: 15px;
    top: 100%;
    margin-top: -500px;
}

.Linea input{
    display: inline-block;
    width:60px;
    height:60px;
    border-radius: 15px;
}

.Resultados input{
    width:245px;
    height:60px;
}