.Calculadora
{
    display:block;
    margin: 0 auto;
    padding: 150px;
    
    width: 314px;
    height: 500px;
    border-radius: 25px;

}

.Calculadora td button{
    text-align: center;
    display: block;
    width: 65px;
    height: 50px;
    font-size: 25px;
}

.resultado{

    
    display:block;
    margin: 0 auto;
    padding: 200px;
    
    width: 314px;
    height: 500px;
    border-radius: 25px;

}









